{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title }} - My Blog{% endblock %}

{% block header_title %}{{ post.title }}{% endblock %}

{% block content %}
<section id="post-detail">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{ post.title }}</h4>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li>
                                <span class="badge badge-pill badge-light-primary mr-1">
                                    <i data-feather="calendar"></i> {{ post.created_at|date:"F d, Y" }}
                                </span>
                            </li>
                            <li>
                                <span class="badge badge-pill badge-light-secondary">
                                    <i data-feather="eye"></i> {{ post.views_count }} Views
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        {{ post.description|linebreaks }}
                    </div>

                    <hr class="my-2">

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <button type="button" class="btn btn-outline-success mr-1">
                                <i data-feather="thumbs-up" class="mr-50"></i>
                                <span>{{ post.likes }}</span>
                            </button>
                            <button type="button" class="btn btn-outline-danger">
                                <i data-feather="thumbs-down" class="mr-50"></i>
                                <span>{{ post.dislikes }}</span>
                            </button>
                        </div>
                        <div>
                            <a href="{% url 'home' %}" class="btn btn-primary">
                                <i data-feather="arrow-left" class="mr-50"></i> Back to Home
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}