{% extends 'base.html' %}
{% load static %}

{% block title %}Tag: #{{ tag.name }} - Zamin.uz{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h4 class="mb-2"><i data-feather="tag" class="me-50"></i>Tag: <span
                    class="text-primary">#{{ tag.name }}</span>
            </h4>

            {% if posts %}
                <div class="row">
                    {% for post in posts %}
                        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-2">
                            <div class="card h-100 shadow-none border-0 bg-transparent">
                                <a href="{% url 'post_detail' post.slug %}">
                                    {% if post.image %}
                                        <img src="{{ post.image.url }}" class="img-fluid rounded mb-1"
                                             style="height:180px; width:100%; object-fit:cover;">
                                    {% endif %}
                                    <h5 class="fw-bolder mb-50 text-truncate-2"
                                        style="min-height:3rem;">{{ post.title }}</h5>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <small class="text-muted">{{ post.created_at|date:"d.m.Y H:i" }}</small>
                                        <small class="text-muted"><i data-feather="eye"
                                                                     class="me-25 font-small-3"></i>{{ post.views_count }}
                                        </small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>


                <!-- PAGINATION -->
                {% include "includes/pagination.html" %}

            {% else %}
                <div class="alert alert-warning" role="alert">
                    <div class="alert-body">
                        Ushbu tag bilan bog'langan postlar topilmadi.
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}